// fonts
$font-main: 'Gaegu', cursive;

// colors
$color-pink: #eb6e80;
$color-blue: #077ea2;
$color-orange: #f96457;
$color-mustard: #e9b000;
$color-bluetrans: #009095e7;



//height
$height: 100vh;
