.main {
  width: 100%;
  height: $height;
  overflow-y: auto;
  background-image: url("../images/HD-wallpaper-anime-girl-sea-sky-clouds-landscape-art-anime-girl-anime-clouds-landscape-artist-artwork-digital-art.jpg");
  background-size: cover;
  &-ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.listEl {
  @include columnCentered;
  width: 33.3%;
  height: 400px;
  background-size: cover;
  position: relative;
}

.favStyle{
  border: 20px solid $color-pink;
  &::after{
  content: "💝";
  font-size: 50px;
  position: absolute;
  top: 0;
  right: 0;
  }
}

.divText {
  @include background;
  background-color: $color-bluetrans;
  position: absolute;
  bottom: 0;
  
}

.notFound {
  @include background;
  background-color: $color-pink;
  font-size: 40px;
  width: 70%;
  margin: 200px auto;
  padding: 50px;
}